.custom-container{
    max-width: 100%;
    width: 100%;
    /* height: 8vh; */
    display: flex;
    justify-content: flex-start;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 5vw;

}

.table-wrapper {
    width: 100%;
    height: 85%;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    display:inline-block;
}
#danger{
    background-color: rgb(216, 43, 43);
    color: white;
}

th{
    text-align: center;
}

td button{
    display:block;
    margin: 0 auto;
}
.modal-footer{
    display: grid;
    justify-content: flex-end;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}