<div class="container">
    <div class="row">
        <div class="image image-left offset positive-offset-x" id="img-container-01">
            <img class="offset negative-offset-y negative-offset-x" alt="" src="../../../assets/images/ab1.jpg" width="500" height="335">
        </div>
        <div class="paragraph paragraph-right">
            <p>Esse anim sunt ad labore commodo laborum qui. Adipisicing Lorem dolor non culpa nisi quis deserunt qui nisi aliquip adipisicing. In duis aliqua laboris aliquip nostrud.</p>
            <p>Esse anim sunt ad labore commodo laborum qui. Adipisicing Lorem dolor non culpa nisi quis deserunt qui nisi aliquip adipisicing. In duis aliqua laboris aliquip nostrud.</p>
            
        </div>
    </div>

    <div class="row">
        <div class="paragraph paragraph-left "> <!-- offset positive-offset-x -->
            <p>Esse anim sunt ad labore commodo laborum qui. Adipisicing Lorem dolor non culpa nisi quis deserunt qui nisi aliquip adipisicing. In duis aliqua laboris aliquip nostrud.</p>
            <p>Esse anim sunt ad labore commodo laborum qui. Adipisicing Lorem dolor non culpa nisi quis deserunt qui nisi aliquip adipisicing. In duis aliqua laboris aliquip nostrud.</p>
               
        </div>
        <div class="image">
            <img class="offset positive-offset-y negative-offset-x" alt="" src="../../../assets/images/ab2.jpg" width="500" height="335">
        </div>
    </div>
    
    <div class="row">
        <div class="image">
            <img class="offset negative-offset-y positive-offset-x" alt="" src="../../../assets/images/ab3.jpg" width="500" height="335">
        </div>
        <div class="paragraph paragraph paragraph-right"> <!-- style="margin-left:var(--margin);" -->
            <p>Esse anim sunt ad labore commodo laborum qui. Adipisicing Lorem dolor non culpa nisi quis deserunt qui nisi aliquip adipisicing. In duis aliqua laboris aliquip nostrud.</p>
            <p>Esse anim sunt ad labore commodo laborum qui. Adipisicing Lorem dolor non culpa nisi quis deserunt qui nisi aliquip adipisicing. In duis aliqua laboris aliquip nostrud.</p>
               
        </div>
    </div>
</div>
<app-footer></app-footer>
