<app-navbar></app-navbar>
<div class="container-fluid px-md-5 custom-container">
  <div class="row custom-row justify-content-center">
    <div class="col-md custom-col">
      <div class="image-container mx-auto">
        <img
          alt=""
          class="offset negative-offset-y negative-offset-x"
          src="../../../assets/images/ab1.jpg"
          width="500"
          height="335"
        />
      </div>
    </div>
    <div class="col-xl custom-col">
      <p>
        "La Organización Internacional para las Migraciones, define la migración como un término
        genérico que se “designa a toda persona que se traslada fuera de su lugar de residencia
        habitual, ya sea dentro de un país o a través de una frontera internacional, de manera
        temporal o permanente, y por diversas razones."
      </p>
    </div>
  </div>
  <div class="row custom-row justify-content-center">
    <div class="col-xl custom-col">
      <div class="image-container mx-auto">
        <img
          class="offset positive-offset-y negative-offset-x"
          alt=""
          src="../../../assets/images/ab2.jpg"
          width="500"
          height="335"
        />
      </div>
    </div>
    <div class="col-xl order-xl-first custom-col">
      <p>
        Ante el contexto actual de migraciones, el Observatorio de Migración es una extensión del
        programa de Acción Social de la Universidad de Costa Rica, que busca brindar información a
        las personas migrantes, este proyecto surge con la idea de que cualquier persona pueda tener
        fácil acceso a una variedad de información verídica y fiable referida a la temática
        migratoria nacional e internacional, por medio de una página web que sea de un uso amigable
        para cualquier usuario interesado en conocer más sobre el tema migratorio en sus distintas
        vertientes temáticas.
      </p>
    </div>
  </div>
  <div class="row custom-row justify-content-center">
    <div class="col-xl custom-col">
      <div class="image-container mx-auto">
        <img
          class="offset negative-offset-y positive-offset-x"
          alt=""
          src="../../../assets/images/ab3.jpg"
          width="500"
          height="335"
        />
      </div>
    </div>
    <div class="col-xl custom-col">
      <p>
        La meta principal del proyecto es simplificar información que facilite el acceso a servicios
        y al cumplimiento de trámites para las personas migrantes en Costa Rica, así como ofrecer
        información de interés para esta población. Asimismo, nuestra perspectiva está orientada a
        la solidaridad con quienes salen de su país por distintas razones, comunicando un mensaje a
        la población costarricense sobre la inclusión de las personas inmigrantes en la sociedad que
        los acoge y de generar una convivencia intercultural solidaria.
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
