<!-- <div class="custom-container">
    <br>
    <h1>Sitio en construcción 👷‍👷‍</h1>
    <br><br>
    <img src="https://media0.giphy.com/media/1xkMJIvxeKiDS/giphy.gif" alt="" width="40%">
</div> -->

<div class="main-text-container">
    El Observatorio de Migración es un proyecto que busca
    cras eget leo quis dolor facilisis tincidunt. Etiam sed turpis
    quam. Nunc semper dolor iaculis placerat dictum. Nam
    eu placerat magna, in lacinia dolor. Integer gravida ut nisi
    in fermentum. Aliquam nec mi est. Cras quis metus in leo
    elementum tristique eu vitae eros. Mauris sit amet laoreet
    ipsum. ermentum. Aliquam nec mi est. Cras am nec mi nad
</div>