<div class="main-text-container">
    El Observatorio de Migración es un proyecto que busca
    cras eget leo quis dolor facilisis tincidunt. Etiam sed turpis
    quam. Nunc semper dolor iaculis placerat dictum. Nam
    eu placerat magna, in lacinia dolor. Integer gravida ut nisi
    in fermentum. Aliquam nec mi est. Cras quis metus in leo
    elementum tristique eu vitae eros. Mauris sit amet laoreet
    ipsum. ermentum. Aliquam nec mi est. Cras am nec mi nad
</div>

<h1 class="horizontal-bar-01">Categorías</h1>
<div class="categories-container">
    <div class="category" *ngFor="let category of categories">
        <img class="img-fluid" *ngIf="category.imagen" alt="category.nombre" src="{{category.imagen.formats.small.url}}" max-width="500px" max-height="281px">
    </div>
</div>
<div class="action-container">
    <button *ngIf="seeMoreCategories" class="action-container-btn-warning" mat-raised-button (click)="loadMoreCategories()">Ver más</button>
</div>
<br>
<br>
<h1 class="horizontal-bar-02">Publicaciones recientes</h1>

<div class="custom-container">
    <app-post-card *ngFor="let post of postsList" [post]="post"></app-post-card>
</div>
<div class="action-container">
    <button class="action-container-btn-warning" mat-raised-button routerLink="/blog">Ir al blog</button>
</div>
