.main-text-container {
  width: 50%;
  margin: 10% auto;
  font-size: 1.3rem;
  text-align: justify;
  text-justify: inter-word;
}

.horizontal-bar {
  background-color: var(--background-02);
  color: var(--font-4);
  font-size: 2.2rem;
  width: 100%;
  text-align: center;
  padding: 3rem 0;
}

.categories-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0.8rem;
  justify-content: center;
  justify-items: center;
  padding-bottom: 9vh;
}

.category {
  cursor: pointer;
  transition: transform 0.1s ease;
  width: 85%;
  height: auto;
}

.category:hover {
  transform: translateY(-10px);
}

.posts-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.8rem;
  padding: 0;
  justify-content: center;
  justify-items: center;
}

.post {
  width: 85%;
  height: auto;
}

.button-container {
  display: block;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.button-container-btn-warning {
  background-color: var(--warning-02);
  color: var(--font-4);
  display: block;
  margin: 0 auto;
  font-size: 1rem;
}

@media (max-width: 1400px) {
  .categories-container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 900px) {
  .posts-container {
    grid-template-columns: auto auto;
  }

  .main-text-container {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .main-text-container {
    height: auto;
  }

  .horizontal-bar {
    font-size: 1.9rem;
  }

  .categories-container {
    grid-template-columns: auto;
  }

  .posts-container {
    grid-template-columns: auto;
    grid-row-gap: 4rem;
  }
}

@media (max-width: 500px) {
  .main-text-container {
    height: auto;
    font-size: 1rem;
  }

  .horizontal-bar {
    font-size: 1.8rem;
  }
}
