<div class="nav-container" *ngIf="!mobile">
    <div id="header-container" 
         style="background-image: url('../../../assets/patterns/patron-light.png');"
         *ngIf="theme === 'light'">
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="#">
              <picture>
                <source srcset="../../../assets/images/membrete-light.png"/>
                <img src="../../../assets/images/membrete-light.png" alt="Logo Observatorio" />
              </picture>
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                style="fill: var(--hamburger)"
                height="24"
                viewBox="0 0 24 24"
                width="24"
              >
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
              </svg>
            </button>
            <div class="navbar-collapse collapse no-transition" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLink="/inicio"
                    routerLinkActive="active-link"
                    [attr.data-toggle]="matchQuery ? 'collapse' : null"
                    [attr.data-target]="matchQuery ? '#navbarNav' : null"
                    >Inicio
                    <hr routerLinkActive="underline-text-decoration" />
                  </a>
                </li>
                <li>
                  <a
                    class="nav-link"
                    routerLink="/blog"
                    routerLinkActive="active-link"
                    [attr.data-toggle]="matchQuery ? 'collapse' : null"
                    [attr.data-target]="matchQuery ? '#navbarNav' : null"
                    >Blog
                    <hr routerLinkActive="underline-text-decoration" />
                  </a>
                </li>
      
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLink="/nosotros"
                    routerLinkActive="active-link"
                    [attr.data-toggle]="matchQuery ? 'collapse' : null"
                    [attr.data-target]="matchQuery ? '#navbarNav' : null"
                    >Nosotros
                    <hr routerLinkActive="underline-text-decoration" />
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLink="/directorio"
                    routerLinkActive="active-link"
                    [attr.data-toggle]="matchQuery ? 'collapse' : null"
                    [attr.data-target]="matchQuery ? '#navbarNav' : null"
                    >Directorio
                    <hr routerLinkActive="underline-text-decoration" />
                  </a>
                </li>
              </ul>
            </div>
        </nav>
    </div>
    <div id="header-container" 
         style="background-image: url('../../../assets/patterns/patron-dark.png');"
         *ngIf="theme === 'dark'">
      <nav class="navbar navbar-expand-md">
          <a class="navbar-brand" href="#">
            <picture>
              <source srcset="../../../assets/images/membrete-dark.png"/>
              <img src="../../../assets/images/membrete-dark.png" alt="Logo Observatorio" />
            </picture>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              style="fill: var(--hamburger)"
              height="24"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M0 0h24v24H0z" fill="none" />
              <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
            </svg>
          </button>
          <div class="navbar-collapse collapse no-transition" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="/inicio"
                  routerLinkActive="active-link"
                  [attr.data-toggle]="matchQuery ? 'collapse' : null"
                  [attr.data-target]="matchQuery ? '#navbarNav' : null"
                  >Inicio
                  <hr routerLinkActive="underline-text-decoration" />
                </a>
              </li>
              <li>
                <a
                  class="nav-link"
                  routerLink="/blog"
                  routerLinkActive="active-link"
                  [attr.data-toggle]="matchQuery ? 'collapse' : null"
                  [attr.data-target]="matchQuery ? '#navbarNav' : null"
                  >Blog
                  <hr routerLinkActive="underline-text-decoration" />
                </a>
              </li>
    
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="/nosotros"
                  routerLinkActive="active-link"
                  [attr.data-toggle]="matchQuery ? 'collapse' : null"
                  [attr.data-target]="matchQuery ? '#navbarNav' : null"
                  >Nosotros
                  <hr routerLinkActive="underline-text-decoration" />
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="/directorio"
                  routerLinkActive="active-link"
                  [attr.data-toggle]="matchQuery ? 'collapse' : null"
                  [attr.data-target]="matchQuery ? '#navbarNav' : null"
                  >Directorio
                  <hr routerLinkActive="underline-text-decoration" />
                </a>
              </li>
            </ul>
          </div>
      </nav>
  </div>
</div>
