<div class="filter">
  <section class="example-section">
  </section>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" type="button" id="dropdownMenuButton"
      aria-haspopup="true" aria-expanded="false"
      style="background-color: transparent; color: black; border:none; outline:none;">
      Filtrar por categorías
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngIf="categoriesList.length">
      <a class="dropdown-item" *ngFor="let category of categoriesList" onclick="event.stopPropagation()">
        <mat-checkbox class="example-margin" color="primary" [(ngModel)]="category.value"
          (change)="valueChanged(category)">{{category.name}}</mat-checkbox>
      </a>
    </div>
  </div>
</div>

<div class="custom-container" *ngIf="postsList.length">
  <app-post-card *ngFor="let post of postsList" [post]="post"></app-post-card>
</div>

<div class="fixed-bottom">
  <mat-paginator [length]="dbPostListSize" [pageIndex]='pageIndex' [pageSize]="pageSize" 
  (page)="pageChanged($event)" hidePageSize="true">
  </mat-paginator>
</div>