:root {
  /* --black-toggle-01: #333333; */
  --black-toggle-01: var(--dark-green);
  --black-toggle-02: #0a1c24;
  --white-toggle: #f5f5f5;
  --background-toggle: var(--black-toggle-01);
  --transition-toggle: 0.5s ease;
  --dark-blue: #153a4a;
  --very-dark-blue: #12313f;
  --super-dark-blue: #0e2733;
  --light-green-02: #72b1b3;
  --light-green-01: #30a740;
  --green: #246566;
  --dark-green: #1a4c4d;
  --darker-green: #1e5859;
  --very-dark-green: #113233;
  --white: #f3f1f1;
  --black: #000;
  --gray: #797878;
  --dark-gray: #474747;
  --light-gray: #cfcfcf;
  --yellow: #f2c62c;
  --dark-blue-gradient: rgba(21 58 74 / 70%);
  --white-gradient: rgba(255 255 255 / 30%);
  --no-gradient: rgba(255 255 255 / 0%);
  --foreground-toggle: var(--light-gray);
  --font-family: "Myriad Pro";
  --font-family-title-style: "Black SemiExtended";
  --font-family-text-style: "Condensed";
  --font-family-subtitle-style: "Regular";
}

.web {
  --background-01: var(--white);
  --background-02: var(--green);
  --font-1: var(--black);
  --font-2: var(--dark-gray);
  --font-3: var(--green);
  --font-4: var(--white);
  --font-5: var(--yellow);
  --warning-01: var(--yellow);
  --warning-02: var(--light-green-01);
  --chips-background: var(--light-gray);
  --chips-font: var(--font-1);
  --footer-background: var(--white);
  --footer-edges: var(--green);
  --navbar-gradient-01: var(--white-gradient);
  --navbar-gradient-02: transparent;
  --underline: var(--black);
  --footer-underline: var(--yellow);
  --modal-background: var(--white);
  --filter: var(--white);
  --filter-hover: var(--light-gray);
  --hamburger: var(--green);
  --search-color: var(--dark-gray);
  --fab-color: var(--white);
  --fab-background-color: var(--gray);
}

.dark {
  --background-toggle: var(--white-toggle);
  --foreground-toggle: var(--black-toggle-02);
  --background-02: var(--very-dark-blue);
  --background-01: var(--dark-blue);
  --modal-background: var(--very-dark-blue);
  --chips-background: var(--dark-gray);
  --navbar-gradient: var(--no-gradient);
  --font-1: var(--white);
  --font-2: var(--black);
  --font-3: var(--yellow);
  --underline: var(--yellow);
  --footer-underline: var(--yellow);
  --navbar-gradient-01: var(--dark-blue-gradient);
  --navbar-gradient-02: var(--dark-blue-gradient);
  --footer-background: var(--dark-blue);
  --footer-edges: var(--super-dark-blue);
  --filter: var(--light-green-02);
  --filter-hover: var(--dark-blue);
  --search-color: var(--white);
  --hamburger: var(--font-1);
  --fab-color: var(--yellow);
  --fab-background-color: var(--dark-gray);
}

button {
  font-size: 1rem;
}

h1 {
  font-style: var(--font-family-title-style);
  background-color: var(--background-01);
}

h2, h3, h4, h5, h6 {
  font-style: var(--font-family-subtitle-style);
}

html,
body {
  font-size: 20px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-01);
  color: var(--font-1);
}

.cont {
  background-color: var(--green);
}

* {
  font-family: var(--font-family-text), sans-serif;
  font-style: var(--font-family-text-style);
}

.ng-valid[required] {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.mat-chip {
  background-color: var(--chips-background) !important;
  color: var(--chips-font) !important;
}

.modal-content {
  background-color: var(--modal-background);
}

.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--background-02) !important;
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
  background-color: var(--background-02) !important;
}

.search-input {
  border: 1px solid var(--search-color);
  font-size: 16px;
  width: 200px;
  height: 30px;
  background-color: transparent;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  border-radius: 20px;
  outline: none !important;
  box-sizing: border-box;
  padding: 0 1rem;
  color: var(--search-color);
  vertical-align: middle;
}

.search-input::placeholder {
  color: var(--search-color);
}
