:root{
  /* --black-toggle-01: #333333; */
  --black-toggle-01: var(--dark-green);
  --black-toggle-02: #0a1c24;
  --white-toggle: #f5f5f5;
  --background-toggle: var(--black-toggle-01);
  --transition-toggle: 0.5s ease;
  --dark-blue:#153A4A;
  --very-dark-blue: #12313f;
  --super-dark-blue: #0e2733; 
  --light-green-02: #72B1B3;
  --light-green-01: #30A740;
  --green: #236667;
  --dark-green: #1A4C4D;
  --darker-green: #1E5859;
  --very-dark-green: #113233;
  --white:#F3F1F1;
  --black: #000000;
  --gray: #797878;
  --dark-gray: #474747;
  --light-gray: #CFCFCF;
  --yellow: #F2C62C;
  --dark-blue-gradient:rgba(21, 58, 74, .70);
  --white-gradient: rgba(255,255,255,.87);
  --no-gradient: rgba(255,255,255,0);
  --foreground-toggle: var(--light-gray);
}
 

.web{
  --background-01: var(--white);
  --background-02: var(--green);
  --font-1: var(--gray);
  --font-2: var(--dark-gray);
  --font-3: var(--green);
  --font-4: var(--white);
  --font-5: var(--yellow);
  --warning-01: var(--yellow);
  --warning-02: var(--light-green-01);
  --chips-background: var(--light-gray);
  --chips-font: var(--font-1);
  --footer-background: var(--dark-green);
  --navbar-gradient-01: var(--white-gradient);
  --navbar-gradient-02: transparent;
  --underline: var(--dark-green);
  --modal-background: var(--white);
  --filter: var(--white);
  --filter-hover: var(--light-gray);
  --hamburger: var(--green);
  --search-color: var(--dark-gray);
  --fab-color:var(--white);
  --fab-background-color:var(--gray);
}

.dark{
  --background-toggle: var(--white-toggle);
  --foreground-toggle: var(--black-toggle-02);
  --background-02: var(--very-dark-blue);
  --background-01: var(--dark-blue);
  --modal-background: var(--very-dark-blue);
  --chips-background: var(--dark-gray);
  --navbar-gradient: var(--no-gradient);
  --font-1: var(--white);
  --font-2: var(--black);
  --font-3: var(--yellow);
  --underline: var(--yellow);
  --navbar-gradient-01: var(--dark-blue-gradient);
  --navbar-gradient-02: var(--dark-blue-gradient);
  --footer-background: var(--super-dark-blue);
  --filter:var(--light-green-02);
  --filter-hover: var(--dark-blue);
  --search-color: var(--white);
  --hamburger: var(--font-1);
  --fab-color:var(--yellow);
  --fab-background-color:var(--dark-gray);
}



button{
  font-size: 1rem;
}
h1 {
  background-color: var(--background-01);
}

html, body { 
   height: 100%;
   margin: 0;
   padding: 0; 
   background-color: var(--background-01); 
   color: var(--font-1);
}

.cont{
  background-color: var(--green);
}

*{font-family: 'Noto Sans JP', sans-serif;}

.ng-valid[required]  {
   border-left: 5px solid #42A948; /* green */
 }
 
 .ng-invalid:not(form)  {
   border-left: 5px solid #a94442; /* red */
 }
 .mat-chip{
  background-color: var(--chips-background) !important;
  color: var(--chips-font) !important;
}
.modal-content{
  background-color: var(--modal-background);
}

 .mat-checkbox-ripple .mat-ripple-element,.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--background-02)!important;
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background, .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background{
  background-color: var(--background-02)!important;
}

.search-input{
  border: 1px solid var(--search-color);  
  font-size: 16px;
  width: 200px;
  height: 30px;
  background-color:transparent;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  border-radius: 20px;
  outline: none !important;
  box-sizing: border-box;
  padding: 0 1rem;

  color: var(--search-color);
  vertical-align: middle;
}
.search-input::placeholder{
  color: var(--search-color);
};
