:root{
  --green: #236667;
  --dark-green: #1A4C4D;
  --white:#F3F1F1;
  --black: #000000;
  --gray: #797878;
  --dark-gray: #474747;
  --light-gray: #CFCFCF;
  --yellow: #F2C62C;
  --light-green: #30A740;
  --white-gradient: rgba(255,255,255,.87);
  --no-gradient: rgba(255,255,255,0);
}

.web{
  --background-01: var(--white);
  --background-02: var(--green);
  --font-1: var(--gray);
  --font-2: var(--dark-gray);
  --font-3: var(--green);
  --font-4: var(--white);
  --font-5: var(--yellow);
  --warning-01: var(--yellow);
  --warning-02: var(--light-green);
  --chips-background: var(--light-gray);
  --footer-background: var(--dark-green);
  --navbar-gradient: var(--white-gradient);
}

.dark{
  --background-01: var(--dark-green);
  --background-02: var(--dark-green);
  --navbar-gradient: var(--no-gradient);
  --font-1: var(--white);
  --font-2: var(--black);
}
button{
  font-size: 1rem;
}
h1 {
  background-color: var(--background-01);
}



html, body { 
   height: 100%;
   margin: 0;
   padding: 0; 
   background-color: var(--background-01); 
   color: var(--font-1);
}

/* @media (prefers-color-scheme: dark) {
  body{
    background-color: black;
  }
} */



.cont{
  background-color: var(--green);
}

*{font-family: 'Noto Sans JP', sans-serif;}

.ng-valid[required]  {
   border-left: 5px solid #42A948; /* green */
 }
 
 .ng-invalid:not(form)  {
   border-left: 5px solid #a94442; /* red */
 }


 .mat-checkbox-ripple .mat-ripple-element,.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--background-02)!important;
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background, .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background{
  background-color: var(--background-02)!important;
}
