            @media (max-width: 800px) {
                * {
                    font-size: 1rem;
                }
                nav {
                    width: 100%;
                }
            }
            
            @media (max-width: 300px) {
                * {
                    font-size: 0.8rem;
                }
            }
            
            .custom-navbar {
                display: flex;
                justify-content: space-between;
            }
            
            .active {
                color: rgb(0, 255, 229);
            }