#header-container {
  background-repeat: repeat;
  background-size: contain;
}

.toggle-container {
  padding-top: 1rem;
  padding-left: 1rem;
}

hr {
  display: block;
  width: 1rem;
  height: 4px;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  top: -0.9rem;
}

img {
  height: 80px;
}

.underline-text-decoration {
  background-color: var(--underline);
}

.nav-link {
  font-weight: bold;
}

.navbar {
  margin: 0;
  padding: 0% 0.4%;
}

.navbar-collapse {
  min-width: 60%;
}

.navbar a {
  color: var(--font-1);
  margin-left: 1rem;
  position: relative;
  top: -1.2rem;
}

.navbar-nav {
  position: relative;
  top: 1.2rem;
  margin-right: 3.5rem;
}

.navbar li a {
  color: var(--font-1);
  font-size: 1.3rem;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  padding: 0 1rem;
  margin-bottom: 16px;
}

.no-transition {
  transition: height 0.01s;
}

.navbar-toggler {
  margin-right: 1rem;
}

@media (min-width: 1024px) {
  .active-link {
    border-radius: 0.2rem;
  }

  #search-button {
    margin: 0 3%;
  }

  .decoration-bar {
    height: 10%;
  }
}

@media (max-width: 800px) {
  .navbar a {
    font-size: 1.2rem;
  }

  .navbar li a:hover {
    font-size: 1rem;
    color: var(--font-1);
  }

  * {
    font-size: 1rem;
  }

  nav {
    width: 100%;
  }

  .navbar-nav {
    margin-right: 0.5rem;
  }

  .navbar-brand {
    font-size: 1.4rem;
  }

  .active-link {
    font-weight: bold;
  }

  #logo {
    width: 80px;
  }

  .nav-item {
    margin: 0;
  }

  #search-button {
    margin: 0;
  }

  .decoration-bar {
    display: none;
  }
}

@media (max-width: 480px) {
  .logo-container {
    justify-content: flex-start;
  }
}

@media (max-width: 367px) {
  .navbar-toggler {
    margin-left: auto;
  }
}

@media (max-width: 300px) {
  * {
    font-size: 0.8rem;
  }

  .navbar-brand {
    font-size: 1.6rem;
  }
}

@media (max-width: 767px) {
  /* breakpoint for mobile menu */
  .navbar-collapse {
    background: transparent;
    text-align: center;
    padding-top: 20%;
  }
}

@media (min-width: 767px) {
  .navbar-collapse {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
  }
}
