.header-container{
  background-image: url('../../../assets/patterns/p5.png');
  background-repeat: repeat;
  opacity: 0.9;
  /* height: 17%; */
}
.decoration-bar{
  width:100%; 
  height: 17%;
  background-image: url('../../../assets/patterns/p4.jpg');
  background-repeat: repeat;
  
}
hr{
  display: block;
  width: 1rem;
  height: 4px;
  background-color:transparent;
  border-radius: 10px;
  position: relative;
  top:-0.9rem;
}
.underline-text-decoration{
  background-color: var(--background-02);
}
.navbar{
    margin: 0 0;
    padding: 0% 0.4%;
}
.navbar a{
    color: var(--background-02);
    margin-left: 1rem;
    position: relative;
    top:-1.2rem;
}
.navbar-nav{
  position: relative;
  top:1.2rem;
}

.navbar li a{
    color: var(--font-1);
    font-size: 1rem;
}


.logo-container{
  width: 100%;
  display:flex;
  justify-content: flex-end;
}   
#logo{
  padding-top: 0.5rem;
  padding-right: 1rem;
}
    
  
.navbar-nav {
    /* margin: 0 2%; */
    margin-right: 3.5rem;
} 
 
 @media (min-width: 1024px){
    .active-link{
        border-radius: 0.2rem;
     }
     .navbar-brand {
        /* color:white; */
        color: var(--background-01);
    }
    .nav-item{
        margin: 0 3%;
    }
    #search-button{
        color: white; 
        margin: 0 3%;
    }
    .decoration-bar{
      height: 10%;
    }
 }
@media (max-width: 800px) {
    .navbar li a:hover{
      font-size: 1rem;
      color: var(--font-1);
    }
    * {
        font-size: 1rem;
    }
    nav {
        width: 100%;
    }
    .navbar-nav {
      margin-right: 0.5rem;
    } 
    .navbar a{
      color: var(--background-02);
      font-size: 1.2rem;
    }
    .navbar-brand{
        font-size: 1.4rem;
        color: var(--background-01);
    }
    .active-link{
        font-weight: bold;
     }
     #logo{
      width: 80px;
    }
     .nav-item{
        margin: 0 0;
    }
    #search-button{
        color: white; 
        margin: 0 0;;
    }
    .decoration-bar{
      display: none;
    }
}

@media (max-width: 300px) {
    * {
        font-size: 0.8rem;
    }
    .navbar-brand{
        font-size: 1.6rem;
        color: white;
    }
}

@media (max-width: 767px) {/*breakpoint for mobile menu*/
    .navbar-nav {
        height: 100vh;
    }    
    .navbar-collapse {
        background: transparent;
        text-align: center;
        /* line-height: 1.8; */
        padding-top: 20%;
    }
}


.no-transition {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s;
}

@media (min-width: 767px) {
    .navbar-collapse{   
        display: flex;
        justify-content: flex-end;  
        margin: 0 auto;
    }
}
 /* background-color: red; */


navbar-toggler{
  margin-right: 1rem;
}