.custom-card {
  transition: transform 0.1s ease;
  max-width: inherit;
}

.custom-card:hover {
  transform: translateY(-10px);
}

.card-body-container {
  padding-top: 1rem;
}

.card-body-container * {
  padding-top: 0;
}

.card-title:hover {
  color: var(--font-3);
  cursor: pointer;
  border: none;
  outline: none;
}

mat-chip {
  padding: none;
  margin: none;
}

.categories {
  margin-bottom: 1rem;
}

img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  custom-card {
    margin-top: 1rem;
    font-size: 1rem;
    width: 150rem;
    margin-left: 0;
    margin-right: 0;
  }
}
