<div class="container">
    <h1> Preguntas Frecuentes </h1>
    <br>
    <br>
    <div class="faq-container">
        <h3>Pregunta 1</h3>
        <p>Repuesta FAQ</p>
    </div>
    <br>
    <div class="faq-container">
        <h3>Pregunta 1</h3>
        <p>Repuesta FAQ</p>
    </div>
    <br>
    <div class="faq-container">
        <h3>Pregunta 1</h3>
        <p>Repuesta FAQ</p>
    </div>
    <br>
    <div class="faq-container">
        <h3>Pregunta 1</h3>
        <p>Repuesta FAQ</p>
    </div>
</div>
<app-footer></app-footer>

