<!-- 
<div class="go-back">
    <button mat-raised-button color="link" routerLink="/dashboard">Volver al dashboard</button>
</div>

<div class="form-container">
    <div class="col-auto">
        <form #createPostForm="ngForm" (ngSubmit)="onSubmit(createPostForm); createPostForm.reset()">
            <div class="form-group">
                <h4>Crear publicación</h4>
            </div>

            <div class="form-group">
                <label for="title">Título</label>
                <input type="title" name="title" class="form-control" id="title" required maxlength="128"
                    placeholder="Un título interesante" pattern="^[\.a-zA-Z0-9,!?¿¡]*$" [(ngModel)]="title">
            </div>
            <div class="form-group">
                <label for="description">Descripcion</label>
                <textarea type="description" name="description" class="form-control" id="description" required maxlength="1024"
                    placeholder="La description suele ser el primer párrafo de la publicación" pattern="^[\.a-zA-Z0-9,!?¿¡]*$" [(ngModel)]="description"></textarea>
            </div>
            <div class="form-group">
                <label for="categories">Categorías</label>
                <section class="form-group checkbox-section" name="categories" id="categories" >
                    <mat-checkbox *ngFor="let category of categories" [(ngModel)]="category.value" [ngModelOptions]="{standalone:true}" [checked]="category.value"
                     (change)="valueChanged($event)"
                    >{{category.name}}</mat-checkbox>
                </section>

            </div>


            <div class="form-group">
                <label for="content">Pegue el link del documento de Notion</label>
                    <input type="text" name="content" class="form-control" id="content" required maxlength="2048"
                    [(ngModel)]="notionContent"> 
            </div>

            <div class="form-group">
                <label for="thumbnail">Pegue el link de la miniatura</label>
                    <input type="text" name="thumbnail" class="form-control" id="thumbnail" required maxlength="2048"
                   [(ngModel)]="thumbnail"> 
            </div>
            <button type="submit" mat-raised-button color="accent"
                [disabled]="!createPostForm.form.valid">Enviar</button>
        </form>
    </div>

</div> -->