<div infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()" style="min-height: 100%">
  <div class="container">
    <div class="search-container">
      <p id="instructions">Seleccione alguno de los contactos para ver más información de este.</p>
      <div class="search-form">
        <input
          type="text"
          placeholder="Buscar"
          class="search-input"
          [(ngModel)]="searchQuery"
          (ngModelChange)="loadContactListSearch()"
        />
        <img alt="menu" class="search-button" src="assets/icons/search.svg" />
      </div>
    </div>

    <div class="contact-container">
      <div class="contact" *ngFor="let contact of contactList; let i = index">
        <div
          class="initial-letter"
          (click)="showContact(contact)"
          *ngIf="renderFirstLetter(contact, contactList[i - 1], i)"
        >
          <strong>{{ contact.titulo[0] }}</strong>
        </div>
        <p
          class="contact-title"
          data-bs-toggle="modal"
          data-bs-target="#contactModal"
          (click)="showContact(contact)"
        >
          {{ contact.titulo }}
        </p>
        <div class="phone-list">
          <a href="tel:{{ number.number }}" *ngFor="let number of contact.numberList">
            {{number.text }}{{ number.number }}
          </a>
        </div>
      </div>
      <br />
    </div>
  </div>

  <div class="modal fade" tabindex="-1" id="contactModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">{{ contactSelected.titulo }}</h3>
        </div>
        <div class="modal-body modal-text">
          <h4>Descripción:</h4>
          <p>{{ contactSelected.descripcion }}</p>
          <br />
          <h4>Teléfono:</h4>
          <div class="phone-list">
            <a href="tel:{{ number.number }}" *ngFor="let number of contactSelected.numberList">
              {{number.text }}{{ number.number }}
            </a>
          </div>
          <br />
          <p *ngIf="contactSelected.correo && contactSelected.correo != 'NA@NA.NA' ">
            <strong> 
              <h4>Correo Electrónico:</h4>
              <a href = "mailto: {{ contactSelected.correo }}">{{ contactSelected.correo }}</a>
              <br />
            </strong>
          </p>
          <br />
          <p *ngIf="contactSelected.lugar != 'N/A'">
            <strong> 
              <h4>Lugar:</h4>
              <p>{{ contactSelected.lugar }}</p>
              <br />
            </strong>
          </p>
          
          <p *ngIf="contactSelected.horario != 'N/A'">
            <strong> 
              <h4>Horario:</h4>
              <p>{{ contactSelected.horario }}</p>
              <br />
            </strong>
          </p>
         
          <p *ngIf="contactSelected.web">
            <strong> 
              <h4>Página Web:</h4>
              <p>
                <a href="{{ parseURL(contactSelected.web) }}" target="_blank" rel="noopener">{{
                  parseURL(contactSelected.web)
                }}</a>
              </p>
            </strong>
          </p>
          <br />
          <p *ngIf="contactSelected.gps">
            <strong
              ><a href="{{ parseURL(contactSelected.gps) }}" target="_blank" rel="noopener"
                >Ver Dirección</a
              ></strong>
          </p>
        </div>
        <div class="modal-footer">
          <button
            class="close-modal"
            type="button"
            mat-raised-button
            style="background-color: var(--warning-02); color: var(--font-4)"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-fab (click)="goTop()"></app-fab>
</div>
<app-footer></app-footer>
