.container {
  width: 80%;
  margin: 10vh auto;
  font-size: 1rem;
  padding: 0 5vw;
}

.contact {
  border-bottom: 1px solid var(--font-1);
  width: 100%;
  padding: 2vh 0;
}

.modal-dialog{
  max-width: 42rem;
}

.gps-map{
  width: 100%;
  min-height: 450px;
}

.phone-list {
  display: flex;
  flex-flow: column;
}

.contact:hover {
  color: var(--font-3);
  cursor: pointer;
}

.contact-title {
  font-size: 1.3rem;
}

.search-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  border: 1px solid rgb(175 175 175);
  font-size: 1rem;
  width: 200px;
  height: 30px;
  background-color: transparent;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  border-radius: 20px;
  outline: none !important;
  box-sizing: border-box;
  padding: 0 1rem;
  color: var(--font1);
  vertical-align: middle;
}

.close-modal {
  font-size: 1rem;
}

.search-button {
  display: inline;
  z-index: 99;
  position: relative;
  top: 1.5px;
  right: 2.2rem;
  background: transparent;
  border: none;
  outline: none;
  color: var(--font1);
  width: 24px;
  height: 24px;
}

.initial-letter {
  font-size: 3rem;
}

a {
  color: var(--font-3);
  text-decoration: underline;
}

.modal-text {
  text-align: justify;
  text-justify: inter-word;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

#instructions {
  max-width: 50%;
}

.modal-title {
  font-size: 1.6rem;
}

@media (max-width: 800px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 655px) {
  .search-container {
    justify-content: center;
  }

  #instructions {
    max-width: unset;
    width: 100%;
  }
}

@media (max-width: 420px) {
  .container {
    width: 95%;
  }

  .contact-title {
    font-size: 1.2rem;
  }

  .initial-letter {
    text-align: center;
  }
}
