.footer {
  background-color: var(--footer-background);
  width: 100%;
  height: 2rem;
  position: relative;
  margin-top: -2rem;
}

.footer-container {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
}

.footer-edge {
  background-color: var(--footer-edges);
  color: var(--font-4);
}

.footer-edge p {
  font-size: 1rem;
}

.footer-edge a {
  color: var(--font-4);
}

#upper {
  padding-top: 2rem;
}

.footer-center {
  display: flex;
  margin-top: 1%;
  margin-bottom: 1%;
}

#bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
}

.footer-brand p {
  margin-top: unset;
  margin-bottom: unset;
}

.footer-copyright p {
  margin-top: unset;
  margin-bottom: unset;
}

.footer-bottom-links {
  display: flex;
}

#bottom-link-left {
  border: unset;
}

.bottom-links {
  margin-right: unset;
  padding: 0 8px;
  padding-bottom: unset;
  padding-top: unset;
  border-left: 1px solid;
}

.navbar-brand {
  margin-right: unset;
  padding-bottom: unset;
  padding-top: unset;
}

img {
  width: 200px;
  height: 80px;
  aspect-ratio: auto 200/80;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding: 0 1rem;
}

@media (min-width: 1024px) {
  .active-link {
    border-radius: 0.2rem;
  }

  .nav-item {
    margin: 0 3%;
  }

  #search-button {
    margin: 0 3%;
  }

  #bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
  }
}

@media (max-width: 800px) {
  * {
    font-size: 1rem;
  }

  .navbar-brand {
    font-size: 1.4rem;
  }

  .active-link {
    font-weight: bold;
  }

  #logo {
    width: 80px;
  }

  .nav-item {
    margin: 0;
  }

  #search-button {
    margin: 0;
  }

  #bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
  }

  .footer-bottom-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-brand span {
    align-items: center;
  }

  .footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom-links .navbar-brand {
    font-size: 1rem;
  }

  .bottom-links {
    border: unset;
  }

  .navbar-collapse {
    background: transparent;
    text-align: center;
  }

  .navbar {
    align-content: center;
  }
}

@media (max-width: 300px) {
  * {
    font-size: 0.8rem;
  }

  .navbar-brand {
    font-size: 1.6rem;
  }

  #bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
  }

  .footer-bottom-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom-links .navbar-brand {
    font-size: 1rem;
  }

  .footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-edge p {
    font-size: 1rem;
  }

  .bottom-links {
    border: unset;
  }
}
