<div class="footer">
  <div class="footer-container">
    <div class="footer-edge" id="upper">
    </div>
    <div class="footer-center">
      <div class="logo-container">
        <a href="https://www.ucr.ac.cr/">
          <picture>
            <source srcset="../../../assets/images/logo-ucr-dark.png" *ngIf='theme === "dark"'>
            <img src="../../../assets/images/logo-ucr-light.png">
          </picture>
        </a>
      </div>
      <div class="logo-container">
          <picture>
            <source srcset="../../../assets/images/logo-ucr-dark.png" *ngIf='theme === "dark"'>
            <img src="../../../assets/images/logo-ucr-light.png">
          </picture>
      </div>
    </div>
    <div class="footer-edge" id="bottom">
      <div class="footer-brand">
        <a class="navbar-brand" href="#">
          <p>Observatorio de Migración</p>
        </a>
      </div>
      <div class="footer-copyright">
        <p>© Universidad de Costa Rica </p>
      </div>
      <div class="footer-bottom-links">
        <a class="bottom-links" id="bottom-link-left" href="#">Contactos</a>
        <a class="bottom-links" href="#">Mapa del sitio</a>
        <a class="bottom-links" href="#">Preguntas frecuentes</a>
      </div>
    </div>
  </div>
</div>
