<app-navbar></app-navbar>
<div class="container">
  <h1>Mapa del Sitio</h1>
  <br />
  <ul class="site-list">
    <li>
      <a class="bottom-links bottom-link-left" routerLink="/" routerLinkActive="active-link">
        Inicio
      </a>
    </li>

    <li>
      <a class="bottom-links bottom-link-left" routerLink="/blog" routerLinkActive="active-link">
        Blog
      </a>

      <ul>
        <li>
          <a
            class="bottom-links bottom-link-left"
            routerLink="/blog/Salud"
            routerLinkActive="active-link"
          >
            Salud
          </a>
        </li>
        <li>
          <a
            class="bottom-links bottom-link-left"
            routerLink="/blog/Naturalización"
            routerLinkActive="active-link"
          >
            Naturalización
          </a>
        </li>
        <li>
          <a
            class="bottom-links bottom-link-left"
            routerLink="/blog/Derechos%20Humanos"
            routerLinkActive="active-link"
          >
            Derechos Humanos
          </a>
        </li>
        <li>
          <a
            class="bottom-links bottom-link-left"
            routerLink="/blog/Participación%20Política"
            routerLinkActive="active-link"
          >
            Participación Política
          </a>
        </li>
        <li>
          <a
            class="bottom-links bottom-link-left"
            routerLink="/blog/Educación"
            routerLinkActive="active-link"
          >
            Educación
          </a>
        </li>
        <li>
          <a
            class="bottom-links bottom-link-left"
            routerLink="/blog/Trabajo"
            routerLinkActive="active-link"
          >
            Trabajo
          </a>
        </li>
        <li>
          <a
            class="bottom-links bottom-link-left"
            routerLink="/blog/Género"
            routerLinkActive="active-link"
          >
            Género
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a class="bottom-links bottom-link-left" routerLink="/about" routerLinkActive="active-link">
        Nosotros
      </a>
    </li>

    <li>
      <a
        class="bottom-links bottom-link-left"
        routerLink="/phonebook"
        routerLinkActive="active-link"
      >
        Directorio
      </a>
    </li>

    <li>
      <a
        class="bottom-links bottom-link-left"
        routerLink="/contact-us"
        routerLinkActive="active-link"
      >
        Contáctenos
      </a>
    </li>

    <li>
      <a class="bottom-links bottom-link-left" routerLink="/faq" routerLinkActive="active-link">
        Preguntas frecuentes
      </a>
    </li>
  </ul>
</div>
<app-footer></app-footer>
