
form {
    margin: 10% 0;
}

.form-container {
    width: 40%;
    margin: 0 auto;
    padding-bottom: 5vh;
}

h4 {
    font-size: 2.5rem;
    font-weight: 300;
    color: #3F51B5;
    margin-bottom: auto;
}

@media (max-width: 1024px) {
    .form-container {
        width: 85%;
    }
    form {
        margin: 10% auto;
    }
}

@media (max-width: 800px) {
    .form-container {
        width: 95%;
    }
    form {
        margin: 5% auto;
    }
}

@media (max-width: 300px) {
    .form-container {
        width: 95%;
        padding-bottom: 10vh;
    }
    form {
        margin: 10% 0;
    }
}