<!-- <h1>
    {{cardTitle}}
</h1>

<h3>{{cardDescription}}</h3>

<img alt="post image" src="{{cardImage}}">
 -->
 <div class="card custom-card">
    
    <div class="card-body">
      <h1 class="card-title">{{title}}</h1>
      <p class="card-text">{{description}}</p>
      <div class="categories">
        <mat-chip-list>
          <mat-chip>Naturalización</mat-chip>
          <mat-chip>Migración</mat-chip>
          <mat-chip>Educación</mat-chip>
        </mat-chip-list>
      </div>
      <hr>
      <img class="img-fluid" src="{{image}}" alt="post image">
      <br>
      <p class="card-text">{{content}}</p>
      
    </div>
  </div>