<div class="container">
  <h1>Contáctenos</h1>
  <br />
  <p>
    TCU-652 Migrantes como sujetos políticos: nuevas vías de expresión
    <br />
    Instituto de investigaciones sociales (IIS)
    <br />
    Universidad de Costa Rica, Sede Rodrigo Facio Brenes
    <br />
    Montes de Oca, San José, Costa Rica
    <br />
  </p>
  <p>
    Universidad de Costa Rica
    <br />
    Código Postal: 2060 San José, Costa Rica
    <br />
    Central telefónica: (506) 2511-4000
  </p>
  <p>
    Para más información puede enviar un mensaje al correo:
    <a href="mailto:observatorio.tcu652@gmail.com">observatorio.tcu652@gmail.com</a>
  </p>
  <p>Redes sociales:</p>
  <ul>
    <li>
      <a href="https://www.facebook.com/tcu652ucr/" target="_blank" rel="noopener">Facebook</a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/tcu_652/?utm_medium=copy_link"
        target="_blank"
        rel="noopener"
        >Instagram</a
      >
    </li>
  </ul>
</div>
<app-footer></app-footer>
