<div class="container">
    <h1>Contáctenos</h1>
    <br>
    <p>
        Escuela de Ciencias de la Computación e Informática
        Teléfono: (506)2511-8000 Fax: (506)2511-3663 Correo electrónico: recepcion.ecci@ucr.ac.cr
        Universidad de Costa Rica, Sede Rodrigo Facio Brenes
        Montes de Oca, San José, Costa Rica
       </p><p> 
        Universidad de Costa Rica
        Código Postal: 2060 San José, Costa Rica
        Central telefónica: (506) 2511-0000
        </p><p>
        En caso de requerir información puede enviar un mensaje al correo recepcion.ecci@ucr.ac.cr.</p>
</div>
<app-footer></app-footer>
